In [140]:
import os, sys
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/"))
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/iexfinance-0.4.0-py3.7.egg"))
from iexfinance.stocks import Stock

In [141]:
from importlib import reload

In [142]:
import server.util as util
import pandas as pd
reload(util)

In [143]:
import pandas as pd
import numpy as np
import datetime as dt
import os
from server.util import get_data

In [176]:
from server import marketsimcode as mksim

In [186]:
of.fillna(0).iloc[0:14]

             GOOG
2010-01-01    0.0
2010-01-02    0.0
2010-01-03    0.0
2010-01-04    0.0
2010-01-05    0.0
2010-01-06   -0.0
2010-01-07  100.0
2010-01-08   -0.0
2010-01-09    0.0
2010-01-10    0.0
2010-01-11    0.0
2010-01-12   -0.0
2010-01-13   -0.0
2010-01-14 -100.0

In [185]:
mksim.compute_portvals(of.fillna(0).iloc[0:14], commission=0, impact=0)

(                  GOOG
 2010-01-01      0.0000
 2010-01-02      0.0000
 2010-01-03      0.0000
 2010-01-04      0.0000
 2010-01-05      0.0000
 2010-01-06      0.0000
 2010-01-07  30273.1018
 2010-01-08      0.0000
 2010-01-09      0.0000
 2010-01-10      0.0000
 2010-01-11      0.0000
 2010-01-12      0.0000
 2010-01-13      0.0000
 2010-01-14 -29006.3416, 2010-01-01    1.000000e+06
 2010-01-02    1.000000e+06
 2010-01-03    1.000000e+06
 2010-01-04    1.000000e+06
 2010-01-05    1.000000e+06
 2010-01-06    1.000000e+06
 2010-01-07    1.000000e+06
 2010-01-08    1.000864e+06
 2010-01-09    1.030273e+06
 2010-01-10    1.030273e+06
 2010-01-11    1.000245e+06
 2010-01-12    1.000584e+06
 2010-01-13    1.001635e+06
 2010-01-14    1.001267e+06
 dtype: float64)

In [177]:
of = "./orders/orders.csv"

of = pd.read_csv(of, index_col=0)
of.index = pd.to_datetime(of.index)

sv = 1000000

In [163]:
orders = of.dropna()
start_val = 100000
commission = .01
impact = 0.05
symbols = orders.columns
symbolData = get_data(symbols, pd.date_range(orders.index[0], orders.index[-1]), addSPY=False)
# print(pd.isnull(symbolData).any())
symbolData = symbolData.fillna(method="ffill").fillna(method="bfill")
rv = pd.DataFrame(index=symbolData.index, columns=symbols)
portfolio = pd.Series([0 for symbol in symbols], index=symbols)

In [189]:
symbolData["GOOG"].shift(1)

2010-01-04           NaN
2010-01-05    311.449310
2010-01-06    311.563568
2010-01-07    310.907837
2010-01-08    302.731018
2010-01-11    294.087250
2010-01-12    300.276978
2010-01-13    296.893982
2010-01-14    286.382355
2010-01-15    290.063416
2010-01-19    294.752930
2010-01-20    288.722137
2010-01-21    291.096710
2010-01-22    289.834900
2010-01-25    280.426086
2010-01-26    271.528961
2010-01-27    267.246826
2010-01-28    268.886169
2010-01-29    270.485748
2010-02-01    267.505127
2010-02-02    265.572693
2010-02-03    265.751556
2010-02-04    262.626862
2010-02-05    266.764954
2010-02-08    262.492737
2010-02-09    264.529480
2010-02-10    268.026733
2010-02-11    265.309418
2010-02-12    264.936829
2010-02-16    264.762970
                 ...
2011-11-17    304.062378
2011-11-18    303.053925
2011-11-21    299.054932
2011-11-22    291.980957
2011-11-23    288.126007
2011-11-25    285.816040
2011-11-28    280.768860
2011-11-29    287.813049
2011-11-30    292.040558
2011-12-01    297.043030
2011-12-02    298.061401
2011-12-05    306.531311
2011-12-06    311.792084
2011-12-07    309.482117
2011-12-08    308.831360
2011-12-09    308.513428
2011-12-12    307.003235
2011-12-13    308.930695
2011-12-14    312.348480
2011-12-15    308.915802
2011-12-16    309.248627
2011-12-19    310.142822
2011-12-20    311.975891
2011-12-21    311.970917
2011-12-22    312.969421
2011-12-23    311.946106
2011-12-27    313.958008
2011-12-28    313.982849
2011-12-29    319.298279
2011-12-30    318.672333
Name: GOOG, Length: 504, dtype: float64

In [171]:
portVal = (orders * symbolData).sum(axis=1)

In [172]:
portVal.iloc[0] += start_val

In [174]:
portVal.cumsum() - (orders.cumsum() * symbolData).sum(axis=1)

2010-01-04    100000.000
2010-01-05    100000.000
2010-01-06     99312.839
2010-01-07     90760.307
2010-01-08     81909.395
2010-01-11     75362.523
2010-01-12     79261.234
2010-01-13     68561.037
2010-01-14     64559.976
2010-01-15     69366.631
2010-01-19     75768.851
2010-01-20     72454.278
2010-01-21     70788.181
2010-01-22     80954.136
2010-01-25     71447.010
2010-01-26     67656.304
2010-01-27     65888.391
2010-01-28     67213.686
2010-01-29     70744.308
2010-02-01     67567.588
2010-02-02     66883.010
2010-02-03     70113.419
2010-02-04     65752.469
2010-02-05     60894.538
2010-02-08     58420.652
2010-02-09     62022.189
2010-02-10     64815.218
2010-02-11     65332.092
2010-02-12     65044.523
2010-02-16     62559.971
                 ...
2011-11-17   -255425.068
2011-11-18   -260146.919
2011-11-21   -268438.034
2011-11-22   -272204.415
2011-11-23   -274015.812
2011-11-25   -279932.991
2011-11-28   -272327.374
2011-11-29   -267601.292
2011-11-30   -273382.336
2011-12-01   -274579.277
2011-12-02   -265067.939
2011-12-05   -259284.309
2011-12-06   -256834.343
2011-12-07   -255815.014
2011-12-08   -255714.226
2011-12-09   -257024.419
2011-12-12   -258784.735
2011-12-13   -255178.378
2011-12-14   -259511.054
2011-12-15   -259659.659
2011-12-16   -259189.750
2011-12-19   -257055.251
2011-12-20   -256304.511
2011-12-21   -254030.296
2011-12-22   -255009.322
2011-12-23   -257405.509
2011-12-27   -257917.490
2011-12-28   -263774.352
2011-12-29   -264898.871
2011-12-30   -265177.892
Length: 504, dtype: float64

In [147]:
for symbol in symbols:
    print(symbol)
    df = ((gb.get_group(symbol)["Shares"] * symbolData[symbol]))
    rv[symbol] = df

AAPL
IBM
GOOG
XOM

In [148]:
df.index[df.index.duplicated()]

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [153]:
portVal = rv.fillna(0).sum(axis=1)
portVal.iloc[0] += 100000
portVal.cumsum()

2011-01-10    1.726064e+05
2011-01-11    1.726064e+05
2011-01-12    1.726064e+05
2011-01-13    6.956036e+05
2011-01-14    6.956036e+05
2011-01-18    6.956036e+05
2011-01-19    6.956036e+05
2011-01-20    6.956036e+05
2011-01-21    6.956036e+05
2011-01-24    6.956036e+05
2011-01-25    6.956036e+05
2011-01-26    1.003764e+06
2011-01-27    1.003764e+06
2011-01-28    1.003764e+06
2011-01-31    1.003764e+06
2011-02-01    1.003764e+06
2011-02-02    6.694043e+05
2011-02-03    6.694043e+05
2011-02-04    6.694043e+05
2011-02-07    6.694043e+05
2011-02-08    6.694043e+05
2011-02-09    6.694043e+05
2011-02-10    9.961243e+05
2011-02-11    9.961243e+05
2011-02-14    9.961243e+05
2011-02-15    9.961243e+05
2011-02-16    9.961243e+05
2011-02-17    9.961243e+05
2011-02-18    9.961243e+05
2011-02-22    9.961243e+05
                  ...
2011-11-15   -1.953385e+05
2011-11-16   -1.953385e+05
2011-11-17   -1.953385e+05
2011-11-18   -1.953385e+05
2011-11-21   -1.953385e+05
2011-11-22   -1.953385e+05
2011-11-23   -1.953385e+05
2011-11-25   -1.953385e+05
2011-11-28   -1.953385e+05
2011-11-29   -1.953385e+05
2011-11-30   -1.953385e+05
2011-12-01   -1.953385e+05
2011-12-02   -1.953385e+05
2011-12-05   -1.953385e+05
2011-12-06   -1.953385e+05
2011-12-07   -1.953385e+05
2011-12-08   -1.953385e+05
2011-12-09   -1.953385e+05
2011-12-12   -1.953385e+05
2011-12-13   -1.953385e+05
2011-12-14   -1.953385e+05
2011-12-15   -1.953385e+05
2011-12-16   -1.953385e+05
2011-12-19   -1.953385e+05
2011-12-20   -2.618116e+05
2011-12-21   -2.606782e+05
2011-12-22   -2.606782e+05
2011-12-23   -2.606782e+05
2011-12-27    4.300841e+05
2011-12-28    2.266606e+04
Length: 245, dtype: float64