In [140]:
import os, sys
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/"))
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/iexfinance-0.4.0-py3.7.egg"))
from iexfinance.stocks import Stock

In [141]:
from importlib import reload

In [142]:
import server.util as util
import pandas as pd
reload(util)

In [143]:
import pandas as pd
import numpy as np
import datetime as dt
import os
from server.util import get_data

In [158]:
of = "./orders/orders-01.csv"

of = pd.read_csv(of, index_col=0)
of.index = pd.to_datetime(of.index)

sv = 1000000

In [159]:
orders = of.dropna()
start_val = 1000000000000000
commission = .01
impact = 0.05
symbols = orders.columns
symbolData = get_data(symbols, pd.date_range(orders.index[0], orders.index[-1]), addSPY=False)
# print(pd.isnull(symbolData).any())
symbolData = symbolData.fillna(method="ffill").fillna(method="bfill")
rv = pd.DataFrame(index=symbolData.index, columns=symbols)
portfolio = pd.Series([0 for symbol in symbols], index=symbols)

In [160]:
orders * symbolData

                  GOOG        AAPL
2010-01-04       0.000       0.000
2010-01-05 -311563.568  -30657.143
2010-01-06       0.000       0.000
2010-01-07       0.000       0.000
2010-01-08  588174.500   60085.712
2010-01-11       0.000       0.000
2010-01-12 -593787.964  -59768.570
2010-01-13  572764.710   59391.430
2010-01-14 -580126.832  -60031.430
2010-01-15  589505.860   60265.712
2010-01-19       0.000       0.000
2010-01-20 -582193.420  -61402.858
2010-01-21  579669.800   60594.284
2010-01-22 -560852.172  -59080.002
2010-01-25       0.000       0.000
2010-01-26  534493.652   58842.858
2010-01-27 -537772.338  -59099.998
2010-01-28  540971.496   58551.430
2010-01-29 -535010.254  -57451.428
2010-02-01  531145.386   54962.856
2010-02-02       0.000       0.000
2010-02-03       0.000       0.000
2010-02-04 -533529.908  -56208.572
2010-02-05  524985.474   55037.144
2010-02-08 -529058.960  -55911.430
2010-02-09  536053.466   56119.998
2010-02-10       0.000       0.000
2010-02-11       0.000       0.000
2010-02-12       0.000       0.000
2010-02-16 -533400.756  -57697.144
...                ...         ...
2011-11-17       0.000       0.000
2011-11-18       0.000       0.000
2011-11-21       0.000       0.000
2011-11-22       0.000       0.000
2011-11-23       0.000       0.000
2011-11-25       0.000       0.000
2011-11-28       0.000       0.000
2011-11-29  584081.116  107382.858
2011-11-30       0.000       0.000
2011-12-01 -596122.802 -109297.142
2011-12-02       0.000       0.000
2011-12-05  623584.168  112425.712
2011-12-06       0.000       0.000
2011-12-07       0.000       0.000
2011-12-08 -617026.856 -111842.858
2011-12-09  614006.470  112242.858
2011-12-12 -617861.390 -111908.570
2011-12-13       0.000       0.000
2011-12-14       0.000       0.000
2011-12-15       0.000       0.000
2011-12-16       0.000       0.000
2011-12-19       0.000       0.000
2011-12-20       0.000       0.000
2011-12-21       0.000       0.000
2011-12-22  623892.212  113428.574
2011-12-23       0.000       0.000
2011-12-27       0.000       0.000
2011-12-28 -638596.558 -116254.288
2011-12-29  637344.666  115257.142
2011-12-30 -318935.638  -57644.287

[504 rows x 2 columns]

In [147]:
for symbol in symbols:
    print(symbol)
    df = ((gb.get_group(symbol)["Shares"] * symbolData[symbol]))
    rv[symbol] = df

AAPL
IBM
GOOG
XOM

In [148]:
df.index[df.index.duplicated()]

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [153]:
portVal = rv.fillna(0).sum(axis=1)
portVal.iloc[0] += 100000
portVal.cumsum()

2011-01-10    1.726064e+05
2011-01-11    1.726064e+05
2011-01-12    1.726064e+05
2011-01-13    6.956036e+05
2011-01-14    6.956036e+05
2011-01-18    6.956036e+05
2011-01-19    6.956036e+05
2011-01-20    6.956036e+05
2011-01-21    6.956036e+05
2011-01-24    6.956036e+05
2011-01-25    6.956036e+05
2011-01-26    1.003764e+06
2011-01-27    1.003764e+06
2011-01-28    1.003764e+06
2011-01-31    1.003764e+06
2011-02-01    1.003764e+06
2011-02-02    6.694043e+05
2011-02-03    6.694043e+05
2011-02-04    6.694043e+05
2011-02-07    6.694043e+05
2011-02-08    6.694043e+05
2011-02-09    6.694043e+05
2011-02-10    9.961243e+05
2011-02-11    9.961243e+05
2011-02-14    9.961243e+05
2011-02-15    9.961243e+05
2011-02-16    9.961243e+05
2011-02-17    9.961243e+05
2011-02-18    9.961243e+05
2011-02-22    9.961243e+05
                  ...
2011-11-15   -1.953385e+05
2011-11-16   -1.953385e+05
2011-11-17   -1.953385e+05
2011-11-18   -1.953385e+05
2011-11-21   -1.953385e+05
2011-11-22   -1.953385e+05
2011-11-23   -1.953385e+05
2011-11-25   -1.953385e+05
2011-11-28   -1.953385e+05
2011-11-29   -1.953385e+05
2011-11-30   -1.953385e+05
2011-12-01   -1.953385e+05
2011-12-02   -1.953385e+05
2011-12-05   -1.953385e+05
2011-12-06   -1.953385e+05
2011-12-07   -1.953385e+05
2011-12-08   -1.953385e+05
2011-12-09   -1.953385e+05
2011-12-12   -1.953385e+05
2011-12-13   -1.953385e+05
2011-12-14   -1.953385e+05
2011-12-15   -1.953385e+05
2011-12-16   -1.953385e+05
2011-12-19   -1.953385e+05
2011-12-20   -2.618116e+05
2011-12-21   -2.606782e+05
2011-12-22   -2.606782e+05
2011-12-23   -2.606782e+05
2011-12-27    4.300841e+05
2011-12-28    2.266606e+04
Length: 245, dtype: float64