In [2]:
import os, sys
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/"))
sys.path.append(os.path.realpath("/home/saqibm128/miniconda3/envs/py37/lib/python3.7/site-packages/iexfinance-0.4.0-py3.7.egg"))
from iexfinance.stocks import Stock

In [6]:
from importlib import reload

In [20]:
import server.util as util
import pandas as pd
reload(util)
util.get_data(["SPY"])

                   SPY
2018-01-01         NaN
2018-01-02  267.839996
2018-01-03  268.959991
2018-01-04  271.200012
2018-01-05  272.510010
2018-01-06         NaN
2018-01-07         NaN
2018-01-08  273.309998
2018-01-09  274.399994
2018-01-10  273.679993
2018-01-11  274.750000
2018-01-12  276.420013
2018-01-13         NaN
2018-01-14         NaN
2018-01-15         NaN
2018-01-16  279.350006
2018-01-17  278.029999
2018-01-18  279.480011
2018-01-19  279.799988
2018-01-20         NaN
2018-01-21         NaN
2018-01-22  280.170013
2018-01-23  282.739990
2018-01-24  284.019989
2018-01-25  284.160004
2018-01-26  284.250000
2018-01-27         NaN
2018-01-28         NaN
2018-01-29  285.929993
2018-01-30  282.600006
...                ...
2018-12-03  280.279999
2018-12-04  278.369995
2018-12-05         NaN
2018-12-06  265.920013
2018-12-07  269.459991
2018-12-08         NaN
2018-12-09         NaN
2018-12-10  263.369995
2018-12-11  267.660004
2018-12-12  267.470001
2018-12-13  266.519989
2018-12-14  262.959991
2018-12-15         NaN
2018-12-16         NaN
2018-12-17  259.399994
2018-12-18  257.200012
2018-12-19  255.169998
2018-12-20  249.860001
2018-12-21  246.740005
2018-12-22         NaN
2018-12-23         NaN
2018-12-24  239.039993
2018-12-25         NaN
2018-12-26  235.970001
2018-12-27  242.570007
2018-12-28  249.580002
2018-12-29         NaN
2018-12-30         NaN
2018-12-31  249.559998
2019-01-01         NaN

[366 rows x 1 columns]

            SPY
2018-01-01  NaN
2018-01-02  NaN
2018-01-03  NaN
2018-01-04  NaN
2018-01-05  NaN
2018-01-06  NaN
2018-01-07  NaN
2018-01-08  NaN
2018-01-09  NaN
2018-01-10  NaN
2018-01-11  NaN
2018-01-12  NaN
2018-01-13  NaN
2018-01-14  NaN
2018-01-15  NaN
2018-01-16  NaN
2018-01-17  NaN
2018-01-18  NaN
2018-01-19  NaN
2018-01-20  NaN
2018-01-21  NaN
2018-01-22  NaN
2018-01-23  NaN
2018-01-24  NaN
2018-01-25  NaN
2018-01-26  NaN
2018-01-27  NaN
2018-01-28  NaN
2018-01-29  NaN
2018-01-30  NaN
...         ...
2018-12-03  NaN
2018-12-04  NaN
2018-12-05  NaN
2018-12-06  NaN
2018-12-07  NaN
2018-12-08  NaN
2018-12-09  NaN
2018-12-10  NaN
2018-12-11  NaN
2018-12-12  NaN
2018-12-13  NaN
2018-12-14  NaN
2018-12-15  NaN
2018-12-16  NaN
2018-12-17  NaN
2018-12-18  NaN
2018-12-19  NaN
2018-12-20  NaN
2018-12-21  NaN
2018-12-22  NaN
2018-12-23  NaN
2018-12-24  NaN
2018-12-25  NaN
2018-12-26  NaN
2018-12-27  NaN
2018-12-28  NaN
2018-12-29  NaN
2018-12-30  NaN
2018-12-31  NaN
2019-01-01  NaN

[366 rows x 1 columns]